@import "tailwindcss";

@theme {
  --color-primary: #3b82f6;
  --color-background-light: #f8fafc;
  --color-background-dark: #0f172a;
}

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-background-light dark:bg-background-dark text-slate-900 dark:text-white;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  @apply bg-slate-100 dark:bg-slate-800;
}

::-webkit-scrollbar-thumb {
  @apply bg-slate-400 dark:bg-slate-600 rounded-full hover:bg-primary;
}